@use "jfx-components" as jfx;

*,
*::before,
*::after {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

*:focus {
    outline:
        3px solid black;
}

html {
    color: jfx.$foreground;
    font-family: jfx.$sans-serif-font;
    // font-size: 1.75rem;
}

html:active * {
    background: none;
    background-color: #0701 !important;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100dvh;
    width: 100dvw;
}

@media print {
    body {
        height: auto !important;
        width: auto !important;
    }

    .slide {
        height: 100dvh !important;
        max-width: 100dvw !important;
    }
}

@media not print {
    .slide:not(.current-slide) {
        display: none !important;
    }
}

.slide {
    & {
        background-color: jfx.$background;
    }

    &.home-slide>.jfx-panel {
        & {
            display: grid;
            place-content: center;
            font-size: 1.25rem;
            padding: 1rem;
            gap: 1rem;
        }

        h1 {
            font-size: 2.5rem;
            text-align: center;
        }

        h2 {
            & {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: .25rem;
            }

            &>.jfx-button {
                height: fit-content;
                width: fit-content;
            }
        }

        span {
            & {
                display: flex;
                flex-direction: column;
            }

            &>.jfx-field {
                text-align: center;
            }

            &>div:last-child {
                text-align: end;
            }
        }

    }

    &.solid-slide .solid-principles {
        & {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-content: center;
            transition: scale .25s ease-in-out;
            padding: 4rem;
            gap: 2rem;
        }

        .solid-principle {
            & {
                display: grid;
                grid-template-columns: auto 1fr;
                transition: scale .25s ease-in-out;
                padding: .5rem;
                gap: .5rem;
            }

            .solid-letter {
                font-family: jfx.$monospace-font;
                font-size: 3rem;
            }

            .solid-statement {
                display: flex;
                align-items: center;
                transition: scale .125s ease-in-out;
                scale: 0;
            }
        }

        .solid-principle.highlight .solid-statement {
            display: flex;
            align-items: center;
            scale: 1;
        }
    }

    &.strategy-slide {
        &.foreword>.jfx-panel {
            & {
                display: grid;
                grid-template-rows: auto 1fr auto;
                padding: 1rem 2rem 2rem 2rem;
            }

            &>h1 {
                font-size: 1.75rem;
                padding-bottom: .5rem;
                font-weight: bold;
            }

            &>.jfx-field {
                font-size: 1.25rem;
                text-align: justify;
            }

            &>span {
                text-align: right;
            }
        }

        &.diagram>.jfx-panel {
            & {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto 1fr;
                padding: 1rem 2rem 2rem 2rem;
                column-gap: 1rem;
            }

            h1 {
                font-size: 1.75rem;
                padding-bottom: .5rem;
                font-weight: bold;
                grid-column: span 2;
            }

            .image-cell {
                & {
                    display: grid;
                    place-items: center;
                    padding: 2rem;
                }

                img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }

    &.references-slide>.jfx-panel {
        & {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            align-content: start;
            padding: 2rem;
            gap: 1rem;
        }

        .reference {
            & {
                font-size: 1.125rem;
                text-align: start;
                padding: 0;
            }

            &:has(img) {
                display: grid;
                grid-template-columns: 1fr auto;
            }

            &.vertical-2 {
                grid-row: span 2;
            }

            &.vertical-3 {
                grid-row: span 3;
            }

            &.vertical-4 {
                grid-row: span 4;
            }

            &.vertical-5 {
                grid-row: span 5;
            }

            &.horizontal-2 {
                grid-column: span 2;
            }

            &.horizontal-3 {
                grid-column: span 3;
            }

            &.horizontal-4 {
                grid-column: span 4;
            }

            &.horizontal-5 {
                grid-column: span 5;
            }

            a {
                color: jfx.$background-selected;
            }

            strong {
                font-weight: bold;
            }

            div {
                padding: .5rem;
                text-align: justify;
                word-break: break-word;
            }

            img {
                width: auto;
            }
        }
    }

    &.final-slide {
        color: jfx.$background-white;
        background-color: jfx.$background-selected;
        font-size: 1.25rem;
        text-align: center;
        padding: .25rem;
    }

    article {
        display: flex;
        flex-direction: column;
        row-gap: .75rem;
    }

    p {
        & {
            text-align: justify;
        }

        &.paragraph::before {
            content: "";
            padding-inline: 1rem;
        }
    }

    ul {
        & {
            list-style: none;
        }

        li:has(ul) {
            & {
                padding: 0 0 0 1rem;
            }

            &::before {
                content: none !important;
            }
        }

        li {
            &::before {
                content: "\25CF";
                padding: 0 1rem 0 0;
                font-family: 'Courier New', Courier, monospace;
            }

            & li::before {
                content: "\25CB";
            }

            & li li::before {
                content: "\25AA";
            }

            & li li li::before {
                content: "\25AB";
            }
        }
    }

    .code-block {
        padding: .5rem;
        border-radius: .2rem;
        border: 1px solid jfx.$background-selected;
        background-color: #ffffdf;
        font-family: jfx.$monospace-font;
        scrollbar-width: thin;
        overflow: auto;
    }

    .two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        gap: 1rem;
    }
}

.dialog-box {
    & {
        padding: 0;
        border: 1px solid jfx.$background-dark;
        height: fit-content;
        width: fit-content;
        margin: auto;
    }

    form {
        display: grid;
        padding: 2rem;
        font-size: 1.25rem;
        gap: 1rem;
    }

    form>div {
        overflow: visible;
    }

    form .jfx-field {
        display: inline;
    }
}