@use "jfx-components" as jfx;

*,
*::before,
*::after {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

*:focus {
    outline:
        3px solid black;
}

html {
    color: jfx.$foreground;
    font-family: jfx.$sans-serif-font;
    // font-size: 1.75rem;
}

body {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100dvh;
    width: 100dvw;
}

@media print {
    body {
        height: auto !important;
        width: auto !important;
    }

    .slide {
        height: 100dvh !important;
        max-width: 100dvw !important;
    }
}

@media not print {
    .slide:not(.current-slide) {
        display: none !important;
    }
}

.slide {
    & {
        background-color: jfx.$background;
    }

    &.home-slide>.jfx-panel {
        & {
            display: grid;
            place-content: center;
            font-size: 1.25rem;
            padding: 1rem;
            gap: 1rem;
        }

        h1 {
            font-size: 2.5rem;
            text-align: center;
        }

        h2 {
            & {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: .25rem;
            }

            &>.jfx-button {
                height: fit-content;
                width: fit-content;
            }
        }

        span {
            & {
                display: flex;
                flex-direction: column;
            }

            &>.jfx-field {
                text-align: center;
            }

            &>div:last-child {
                text-align: end;
            }
        }

    }

    &.solid-slide .solid-principles {
        & {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-content: center;
            transition: scale .25s ease-in-out;
            padding: 4rem;
            gap: 2rem;
        }

        .solid-principle {
            & {
                display: grid;
                grid-template-columns: auto 1fr;
                transition: scale .25s ease-in-out;
                padding: .5rem;
                gap: .5rem;
            }

            .solid-letter {
                font-family: jfx.$monospace-font;
                font-size: 3rem;
            }

            .solid-statement {
                display: flex;
                align-items: center;
                transition: scale .125s ease-in-out;
                scale: 0;
            }
        }

        .solid-principle.highlight .solid-statement {
            display: flex;
            align-items: center;
            scale: 1;
        }
    }

    &.strategy-slide {
        &.foreword>main>.jfx-panel {
            & {
                display: grid;
                grid-template-rows: 1fr auto;
            }

            &>.jfx-field {
                font-size: 1.25rem;
                text-align: justify;
            }

            &>span {
                text-align: right;
            }
        }

        &.diagram main>.jfx-panel {
            & {
                display: grid;
                grid-template-columns: 1fr auto;
                gap: 1rem;
            }

            li {
                text-align: justify;
            }

            .image-cell {
                & {
                    display: grid;
                    place-items: center;
                    padding: 3rem 2rem;
                    max-width: 70dvw;
                }

                img {
                    height: 100%;
                    width: auto;
                }
            }
        }

        .result {
            & {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            &>.terminal {
                background-color: #002;
                color: #ccc;
            }

            &>.web {
                & {
                    display: grid;
                    grid-template-columns: auto min-content auto;
                    background-color: #dfe;
                    place-items: center;
                    gap: 1rem;
                }

                &>* {
                    width: auto;
                    height: auto;
                }

                &>span {
                    display: grid;
                    justify-self: end;
                    grid-template-columns: repeat(7, auto);
                    background-color: #fff;
                    border: 1px solid #000;
                    padding: .25rem .5rem;
                    gap: .5ch;
                }

                &>.file {
                    justify-self: start;
                }
            }

            &>.file-system {
                background-color: #cca;
                display: flex;
                overflow: auto;
            }

            .hidden {
                position: absolute;
                opacity: 0;
            }

            .file {
                & {
                    display: grid;
                    grid-template-rows: 3.5rem auto;
                    justify-items: center;
                    width: fit-content;
                }

                img {
                    width: auto;
                }

                span {
                    font-size: .75rem;
                    width: fit-content;
                    height: auto;
                }
            }
        }
    }

    &.refused-bequest-slide {
        .image-cell {
            & {
                display: grid;
                place-content: center;
            }

            img {
                height: auto;
                width: 100%;
            }
        }

        .instanceof {
            & {
                display: grid;
                place-content: center;
            }

            &:not(.not-really) .code-block:nth-child(2) {
                display: none;
            }

            &.not-really .code-block:nth-child(1) {
                display: none;
            }

            * {
                font-size: 1rem;
            }
        }

        .two-columns {
            gap: 4rem;
        }

        .titled-bullet-list {
            display: grid;
            grid-template-rows: auto 1fr;
            gap: .5rem;
        }
    }

    &.extract-interface-slide {
        &.aside .jfx-panel {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 2rem;
        }

        &.linux .jfx-panel {
            display: grid;
            grid-template-rows: auto 1fr;
            gap: 1rem;
        }

        .hello {
            display: grid;
            font-family: jfx.$monospace-font;
            word-break: keep-all;
            font-size: 1.25rem;
            white-space: pre;
        }
    }

    &.references-slide>.jfx-panel {
        & {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            align-content: start;
            padding: 2rem;
            gap: 1rem;
        }

        .reference {
            & {
                font-family: jfx.$sans-serif-font;
                text-align: start;
                padding: 0;
            }

            &:has(img) {
                display: grid;
                grid-template-columns: 1fr auto;
            }

            a {
                color: jfx.$background-selected;
            }

            div {
                padding: .5rem;
                text-align: justify;
                word-break: break-word;
            }

            img {
                width: auto;
            }
        }
    }

    &.final-slide {
        color: jfx.$background-white;
        background-color: jfx.$background-selected;
        font-size: 1.25rem;
        text-align: center;
        padding: .25rem;
    }

    article {
        & {
            display: flex;
            flex-direction: column;
            row-gap: .5rem;
        }

        * {
            height: auto;
            width: auto;
        }

        p {
            line-height: 1.5rem;
        }
    }

    p {
        & {
            text-align: justify;
        }

        &.paragraph::before {
            content: "";
            padding-inline: 1rem;
        }
    }

    strong {
        font-weight: bold;
    }

    ul {
        & {
            list-style: none;
        }

        li:has(ul) {
            & {
                padding: 0 0 0 1rem;
            }

            &::before {
                content: none !important;
            }
        }

        li {
            & {
                width: auto;
                height: auto;
                line-height: 1.5rem;
            }

            &::before {
                content: "\25CF";
                padding: 0 1rem 0 0;
                font-family: 'Courier New', Courier, monospace;
            }

            & li::before {
                content: "\25CB";
            }

            & li li::before {
                content: "\25AA";
            }

            & li li li::before {
                content: "\25AB";
            }
        }
    }

    .jfx-button {
        display: inline;
        padding: 0 .125rem;
        font-family: jfx.$monospace-font;
        height: auto;
        width: auto;
    }

    .titled {
        & {
            display: grid;
            grid-template-rows: auto 1fr;
            padding: 1rem 2rem 2rem 2rem;
            gap: .5rem 1rem;
        }

        h1 {
            font-size: 1.5rem;
            font-weight: bold;
        }

        h2 {
            font-size: 1.25rem;
            font-weight: bold;
        }
    }

    .code-block {
        padding: .5rem;
        border-radius: .2rem;
        border: 1px solid jfx.$background-selected;
        background-color: #ffffdf;
        font-family: jfx.$monospace-font;
        font-size: .875rem;
        scrollbar-width: thin;
        overflow: auto;
    }

    .two-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

.dialog-box {
    & {
        padding: 0;
        border: 1px solid jfx.$background-dark;
        height: fit-content;
        width: fit-content;
        margin: auto;
    }

    form {
        display: grid;
        padding: 2rem;
        font-size: 1.25rem;
        gap: 1rem;
    }

    form>div {
        overflow: visible;
    }

    form .jfx-field {
        display: inline;
    }
}